<%- include(`./fragments/header.ejs`) %>

<section>
    <div class="container about"> 

            <p>Praca jest konstruktem udostępniającym pełną temporalność danych historycznych. <b> KONCEPCJA SYSTEMU GROMADZENIA 
                I UDOSTĘPNIANIA HISTORYCZNYCH INFORMACJI GEOGRAFICZNYCH</b>
    </div>
</section>